.vscode/*
.ipynb_checkpoints/*
__pycache__/*
__pycache__/CalculatePSD.cpython-310.pyc
__pycache__/CalculatePSD.cpython-310.pyc
__pycache__/TimeSeriesViewer.cpython-310.pyc
__pycache__/TSUtilities.cpython-310.pyc
